<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="arquivos_antigos" value="C:\Users\rodrigo.calixto\Downloads\arquivos_antigos" /> <!-- Ex: value="c:\temp\arquivos" -->
		<add key="ponto_geral" value="C:\Temp\ponto_geral.txt" /> <!-- Ex: value="c:\temp\geral.txt" -->
		<add key="horario_geracao_arquivo" value="18:00" /> <!-- Ex: value="18:00" -->
	</appSettings>
</configuration>