<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="arquivos_antigos" value="C:\Users\rodrigo.calixto\Downloads\arquivos_antigos" />
		<add key="ponto_geral" value="C:\Temp\ponto_geral.txt" />
		<add key="horario_geracao_arquivo" value="08:40" />
	</appSettings>
</configuration>